<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    {% include 'navbar.html' %}
    <br/>
    <div class="container">
        {% block content %}
            <h1>Hellow My Name is {{first_name}}</h1>
            <p>its good to see you</p>
            <p>gogoggogogo</p>
            <p>{{stuff|trim}}</p>

            <h3>Favorite Pizza</h3>
            {% for topping in favorite_pizza %}
                {% if topping == 425 %}
                    {{ topping}}<br/>
                {% else %}
                    {{topping}}<br/>
                {% endif %}
            {% endfor %}

            <br/>
            <br/>
            {{favorite_pizza[2]|reverse}}
        {% endblock %}
    </div>
</body>
</html>