<header class="header">
    <div class="left-side">
        <a class="Home_link" href="{{url_for('base')}}">Flasker</a>
        <a class="Profile_link" href="{{url_for('user', name='jhon')}}">User Profile</a>
        <a class="Profile_link" href="{{url_for('name')}}">Name</a>
        <a class="Profile_link" href="{{url_for('add_user')}}">Add User</a>
        
    </div>

    <div class="right-side">
        <input type="text" placeholder="Search">
        <button class="search-button">Search</button>
    </div>
</header>
