{% extends 'base.html' %}
{% block content %}
    <p>{{id}}</p>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="name-page-title">User Update</h1>
        <br/>
        <form method="POST" class="name-sub-container">
            {{form.hidden_tag()}}<!--이 것은 CSRF를 위한 코드이다.-->
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control", value=name_to_update.name)}}

            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", value=name_to_update.email)}}

            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>
{% endblock %}
